:root {
    --red: #d34836;
    --redHover: #d42912;
    --textColor: #fff;
    --blue: #3180ff;
    --blueHover: #0060FF;
    --bodyColor: #202225;
    --contentColor: #36393F;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #e8e8e8;
  outline: none;
}

.settingsicon button {
    width: 50px;
    height: 35px;
    padding: 6px 0;
    font: bold 13px Arial;
    background-color: var(--bodyColor);
    color: var(--textColor);
    border: 1px solid var(--contentColor);
    border-radius: 2px;

}

.settings icon button:hover {
    background-color: rgb(26, 25, 25);
    border: 1px solid var(--textColor);
    transition: background-color 300ms linear;
    transition: border 300ms ease-in;
    color: var(--textColor);
}
.send {
    min-height: 60px;
    height:auto;
    width: 99%;
    margin-left: 0.25%;
    margin-right:0.5%;
    padding-bottom: 0px;
    background-color: #40444B;
    border-radius: 10px;
    text-align: left;
    vertical-align: center !important;
    font-size:17px;
    color:#dcddde;
    border-color: #40444B;

}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1e2124;
}

body {
  display: grid;
  grid-template: [row1-start] "header" 40px [row1-end] [row2-start] "main" auto [row2-end] [row3-start] "main" 55px [row3-end]/auto;
  width: 100vw;
  height: 100vh;
}
@media only screen and (min-width: 940px) {
  body {
    grid-template: [row1-start] "header header header" 40px [row1-end] [row2-start] "nav sub main" auto [row2-end] [row3-start] "footer footer main" 55px [row3-end]/70px 230px auto;
  }
}

header {
  grid-area: header;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
          align-items: stretch;
  background-color: #1e2124;
}
header > * {
  width: 40px;
}

nav {
  position: absolute;
  bottom: 55px;
  left: calc(-1 * (70px + 230px));
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 70px;
  height: calc(100% - (40px + 55px));
  background-color: #1e2124;
  z-index: 1;
  -webkit-transition: left 300ms ease-in-out 50ms;
  transition: left 300ms ease-in-out 50ms;
}
nav.show {
  left: 0;
}
nav button {
  position: relative;
  margin-bottom: 15px;
  width: 80%;
  height: calc(70px * 0.8);
  border-radius: 50%;
  background-color: #31353a;
  font-size: 22px;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out 50ms;
  transition: all 300ms ease-in-out 50ms;
}
nav button:hover, nav button:focus {
  border-radius: 40%;
}
nav button:first-child {
  margin-bottom: 5px;
}
nav button:last-child {
  margin-bottom: 0;
}
nav button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav button.active {
  border-radius: 15px;
  background-color: #7285be;
}
nav button.add {
  border: 2px dashed #31353a;
  background-color: transparent;
  color: #31353a;
  -webkit-transition: all 300ms ease-out 50ms;
  transition: all 300ms ease-out 50ms;
}
nav button.add:hover, nav button.add:focus {
  border-radius: 50%;
  border-color: #e8e8e8;
  color: #e8e8e8;
}
nav span {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #646e77;
  font-size: 12px;
  color: #646e77;
}
@media only screen and (min-width: 940px) {
  nav {
    position: relative;
    bottom: unset;
    left: unset;
    width: auto;
    height: auto;
    grid-area: nav;
  }
  nav.show {
    left: unset;
  }
}

#sub {
  position: absolute;
  bottom: 55px;
  left: calc(-1 * 230px);
  width: 230px;
  height: calc(100% - (40px + 55px));
  background-color: #2F3136;
  z-index: 1;
  -webkit-transition: left 300ms ease-in-out 50ms;
  transition: left 300ms ease-in-out 50ms;
}
#sub.show {
  left: 70px;
}
@media only screen and (min-width: 940px) {
  #sub {
    position: relative;
    bottom: unset;
    left: unset;
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
    grid-area: sub;
  }
  #sub.show {
    left: unset;
  }
}

.border {
    margin-top: -11px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: 1000;
}
.user-icon {
    margin-left:25%;
}
.border1 {
    margin: 0 -2.4px -2px 0;
    border-bottom: 1px solid #1e2124;
    margin-top: -7px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #72767d;
   font-weight: bold;

}

select {
    width: 100%;
    height: 35px;
    border: 1px solid #36393F;
    border-radius: 2px;
    background-color: #202225;
}

select:hover {
    border: 1px solid#fff;
    transition: border 300ms ease-in-out;
}

textarea {
    resize: none;
    width: 99%;
    border: 1px solid #202225;
    border-radius: 2px;
    background-color: transparent;
}


a {
    text-decoration: none;
    color: inherit
}

::selection {
    background-color:#fff;
    color: #202225;
}
button {
    width: 100%;
    height: 35px;
    padding: 6px 0;
    font: bold 13px Arial;
    background-color: var(--bodyColor);
    color: var(--textColor);
    border: 1px solid var(--contentColor);
    border-radius: 2px;

}

button:hover {
    transition: background-color 300ms linear;
    transition: border 300ms ease-in;
    color: var(--textColor);
}
.options {
    margin-top: 10px;
}
.border2 {
    margin: 0 -2.4px -2px 0;
    padding-bottom: 15px;
    padding-left: 5px;
    color: #72767d;

}
.logoutbutton {
    margin-left: 75%;
    width:20%;
    background-color: var(red);
    color: var(--textColor);
  }
main {
  position: relative;
  grid-area: main;
  background-color: #36393F;
    overflow-x: hidden;
    overflow-y: hidden;
}
main .friend-info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px ;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #1e2124;
}
main .friend-info .name {
  position: relative;
  margin: 0 auto 0 0;
}

main .friend-info .name::before {
  color: #646e77;
  /* content: '@'; */
}
.invisible {
    display:none;
}
.avatarIMG {
    border-radius: 30px;
    border: 1.2px  var(--textColor);
    height: 50px;
    width: 50px;
    padding: 10px;
    transform: translateY(35%);
}
main .friend-info .status {
  position: absolute;
  top: 4px;
  right: -20px;
}
main .friend-info button {
  width: 40px;
}
main .messages {
  margin-top: 40px;
  height: calc(100vh - ((40px * 2) + 55px));
  overflow-y: auto;
  padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 17px;

  
}

.homeIcon-tEMBK1 {
    margin-top: 5px;
}

main .messages > div {
  display: grid;
  grid-template: [row1-start] "icon time" 20px [row1-end] [row2-start] "icon message" minmax(20px, auto) [row2-end]/50px auto;
  padding: 0 10px 25px 10px;
}
main .messages > div:first-child {
  padding-top: 25px;
}
main .messages > div .user-icon {
  grid-area: icon;
}
main .messages > div .user-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  grid-area: time;
}
main .messages > div .user-info p {
  width: auto;
  font-size: 16px;
}
main .messages > div .user-info span {
  margin-left: 10px;
  font-size: 14px;
}
main .messages > div .message-text {
  grid-area: message;
  padding-top: 7px;
  color: #9c9c9c;
}
main form {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 55px;
  border-top: 1px solid #1e2124;
}
main form input[type="text"] {
  width: calc(100% - (80px * 2));
  border: none;
  background: transparent;
}
main form input[type="button"],
main form input[type="submit"] {
  width: 40px;
  border: none;
  background: transparent;
  font-weight: bold;
}
main form input[type="submit"] {
  width: 80px;
}

.top {
    vertical-align: top;
}

.red {
    background-color: var(--red);
    color: var(--textColor);
}

.red:hover {
    background-color: var(--redHover);
    transition: background-color 300ms linear;
    color: var(--textColor);
}

.blue {
    background-color: var(--blue);
    transition: background-color 300ms linear;
    color: var(--textColor);
    width:0.01px;
    height: 0.001px;
}

.blue:hover {
    background-color: var(--blueHover);
    color: var(--textColor);
}

.demi {
    width: 50%;
}

.quart {
    width: 25%;
}

.mini {
    width: auto;
    height: 20px;
    padding: 1px 2px 1px 2px;
    border-radius: 6px;
    font: 13.5px Arial;
}

/* Tools Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #36393F;
    width: auto;
    height: auto;
    
  }
  
  .modal a {
    background: #1a2129;
    color: rgb(231, 216, 216);
    border: 1px solid #d4d6db;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    display: block;
    width: 93%;
    transition: 0.3s;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  
  
  .modal a:hover {
    background: #4d5157;
    color: #eaebf0;
    border: 1px solid #ccced6;
    cursor: pointer;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ccc;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 65%;
    color: red;
  }
  
  .modal-body {
    padding: 10px 15px;
    color: #ccc;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
fieldset {
   width: auto;
   height: auto;
   background-color:#2F3136;
}

legend {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bodyColor);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: var(--textColor);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--red);
}

input:checked+.slider:hover {
    background-color: var(--redHover);
    transition: background-color 300ms linear;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--red);
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
footer {
  position: absolute;
  bottom: 0;
  left: calc(-1 * (70px + 230px));
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  width: calc(70px + 230px);
  height: 55px;
  background-color: #292B2F;
  z-index: 1;
  -webkit-transition: left 300ms ease-in-out 50ms;
  transition: left 300ms ease-in-out 50ms;
}
footer.show {
  left: 0;
}
footer > .user-icon .status {
  box-sizing: content-box;
  position: absolute;
  right: -4px;
  bottom: -4px;
  border: 2px solid #272b2f;
}
footer > .user-info {
  width: 35%;
}
@media only screen and (min-width: 940px) {
  footer {
    position: relative;
    bottom: unset;
    left: unset;
    width: auto;
    height: auto;
    grid-area: footer;
  }
  footer.show {
    left: unset;
  }
}
.scrollable {

    overflow-y: auto;
    text-align: left;
    border: 1.3px solid var(--bodyColor);
    background: #36393F;
    border-color:#36393F; 
    font-size: 17px;
    font-weight: 0.5;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    word-break: break-all;
}

#login {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100vw;
  height: calc(100vh - 40px);
  background-color: #1e2124;
  background-image: url(https://picsum.photos/200?blur);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  display:none;
  -webkit-transition: all 300ms ease-in-out 50ms;
  transition: all 300ms ease-in-out 50ms;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  z-index: 100;
}
#login.show {
  opacity: 1;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
#login form {
  padding: 50px;
  min-width: 300px;
  width: 50%;
  max-width: 600px;
  border-radius: 5px;
  background-color: #272b2f;
  text-align: center;
}
#login form > * {
  width: 100%;
}
#login h1, #login p {
  margin: 0;
  padding: 0;
}
#login h1 {
  font-size: 26px;
  font-weight: normal;
}
#login p {
  margin: 15px 0 25px 0;
  color: #646e77;
}
#login label {
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}
#login label > span {
  padding-left: 10px;
  text-transform: normal;
  color: #646e77;
}
#login input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #1e2124;
  font-size: 16px;
}
#login input:not([type="submit"]) {
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#login input:not([type="submit"]):hover, #login input:not([type="submit"]):focus, #login input:not([type="submit"]):active {
  border-color: #7285be;
}
#login input[type="submit"] {
  margin-bottom: 5px;
  padding: 15px;
  background-color: #7285be;
  font-size: 16px;
  cursor: pointer;
}
#login a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #7285be;
}

button {
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

#toggle-nav {
  display: block;
  margin: 0 auto 0 0;
  width: 70px;
}
@media only screen and (min-width: 940px) {
  #toggle-nav {
    display: none;
  }
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #272b2f;
}
.status.online {
  background-color: #28a745;
}
.status.bad-connection {
  background-color: #ffc107;
}
.status.offline {
  background-color: #646e77;
}

.user-icon {
  position: relative;
  width: 35px;
  height: 35px;
}
.user-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-icon span {
  box-sizing: content-box;
  position: absolute;
  right: -4px;
  bottom: -4px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #272b2f;
  background-color: #272b2f;
}
.user-icon span.online {
  background-color: #28a745;
}
.user-icon span.bad-connection {
  background-color: #ffc107;
}
.user-icon span.offline {
  background-color: #646e77;
}

.user-info p {
  margin: 0;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-info span {
  font-size: 10px;
  color: #646e77;
}